<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Menu</title>

    <link th:href="@{/css/menu_style.css}" rel="stylesheet">
    <link th:href="@{/css/introduction.css}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<body>
<nav>
    <div class="logo">
        Online Book Store
    </div>
    <ul>
        <li><a class="active" href="/Admin_Home">Home</a></li>
        <li><a href="/Book_Management">Book Management</a></li>
        <li><a href="/Book_Details">Book Details</a></li>
        <li><a href="/User_Details">User Details</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>

<div class="introduction">
    <h1>Welcome To Online Book Reviews</h1>
    <p>Explore and evaluate a diverse collection of books on our platform. Here, we celebrate the joy of reading and provide a space for sharing and discovering remarkable literary works.</p>
    <p>Join our community of book enthusiasts and immerse yourself in the world of literature. Start exploring and rating books today!</p>
</div>

<div th:if="${PrintSwal == 'Admin'}">
    <script>swal("Admin Login Sucessfully");</script>
</div>

<div th:if="${PrintSwal == 'Book_Details_Empty'}">
    <script>swal("No Books Found");</script>
</div>

<div th:if="${PrintSwal == 'User_Details_Empty'}">
    <script>swal("No Users Found");</script>
</div>

</body>

</html>
