<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link th:href="@{/css/menu_style.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<body>
<nav>
    <div class="logo">Online Book Store</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/Login">Login</a></li>
        <li><a href="/User_RegistrationForm">User Registration</a></li>
    </ul>
</nav>
<div class="container">
    <form action="/VerifyLogin" id="form1" method="post">
        <h2>Login</h2>
        <div class="input-box underline">
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email" th:value="${User_Name}" placeholder="Enter Your Email"
                   required>
        </div>
        <div class="input-box">
            <label for="password">Password</label>
            <input type="password" name="password" th:value="${Pass}" id="password"
                   placeholder="Enter Your Password" required>
        </div>
        <div class="input-box button">
            <input type="button" value="Login" onclick="Verify()">
        </div>
    </form>
</div>


<div th:if="${PrintSwal == 'User'}">
    <script>swal("User Login Successfully");</script>
</div>

<div th:if="${PrintSwal == 'Failed'}">
    <script>swal("Sorry You entered an incorrect email or password");</script>
</div>

<div th:if="${PrintSwal == 'Reg_Success'}">
    <script>swal("Registration Successful");</script>
</div>
</body>

<script>
    function Verify() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        if (email == "" || password == "") {
            swal("Please fill out this field");
            return false;
        } else {
            var form = document.getElementById("form1");
            form.submit();
            form.reset();
        }
    }


</script>


</html>