<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

    <link th:href="@{/css/menu_style.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Този скрипт е за включване на SweetAlert2 библиотеката в уеб страницата. SweetAlert2 е JavaScript библиотека за стилно и интерактивно показване на известия (alert-и) в уеб приложения. -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

<body>
<nav>
    <div class="logo">
        Online Book Review
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/Login">Login</a></li>
        <li><a href="/User_RegistrationForm">User Registration</a></li>
    </ul>
</nav>
<div class="container">
    <form action="/VerifyLogin" id="form1" method="post">
        <h2>Login</h2>
        <div class="input-box underline">
            <label for="email">Email Address</label>
            <input type="email" name="email" id="email" th:value="${User_Name}" placeholder="Enter Your Email"
                   required>
        </div>
        <div class="input-box">
            <label for="password">Password</label>
            <input type="password" name="password" th:value="${Pass}" id="password"
                   placeholder="Enter Your Password" required minlength="5">
        </div>
        <div class="input-box button">
            <input type="button" value="Login" onclick="Verify()">
        </div>
    </form>
</div>

<!-- в HomeController -> /VerifyLogin ако не са вписани правилни данни, или не са попълнени полета -->
<div th:if="${PrintSwal == 'Failed'}">
    <script>swal("You have entered an incorrect email or password, or you have not filled out a field");</script>
</div>

<!-- в HomeController -> /User_Registration ако се регистрира успешно потребител -->
<div th:if="${PrintSwal == 'Reg_Success'}">
    <script>swal("Registration Successful");</script>
</div>

</body>

<script>
    function Verify() {
        var form = document.getElementById("form1");
        form.submit();
        form.reset();
    }
</script>

</html>