<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>

    <link rel="stylesheet" th:href="@{/css/menu_style.css}">
    <link th:href="@{/css/form.css}" rel="stylesheet">

</head>

<!-- Този скрипт е за включване на SweetAlert2 библиотеката в уеб страницата. SweetAlert2 е JavaScript библиотека за стилно и интерактивно показване на известия (alert-и) в уеб приложения. -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

<body>
<nav>
    <div class="logo">
        Online Book Review
    </div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Login">Login</a></li>
        <li><a class="active" href="/User_RegistrationForm">User Registration</a></li>
    </ul>
</nav>

<form action="/User_Registration" method="post">
    <h2>Registration Form</h2>
    <div class="input-box fullname">
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" name="fullname" placeholder="Enter your full name" required>
    </div>
    <div class="input-box email">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Enter your email address" required>
    </div>
    <div class="input-box password">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required minlength="5">
    </div>
    <div class="input-box date">
        <label for="date">Birth Date</label>
        <input type="date" id="date" name="date" placeholder="Select your date" max="2013-12-31" required>
    </div>
    <div class="input-box gender">
        <label for="gender">Gender</label>
        <select id="gender" name="gender" required>
            <option value="" selected disabled>Select your gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="input-box button">
        <input type="submit" value="Registration">
    </div>
</form>

<!-- в HomeController -> /User_Registration ако същствува вече такъв потребител -->
<div th:if="${PrintSwal == 'User_Exists'}">
    <script>swal("User Already Exists");</script>
</div>

</body>
</html>