<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>User Book Management</title>

    <link th:href="@{/css/menu_style.css}" rel="stylesheet">
    <link th:href="@{/css/tables.css}" rel="stylesheet">
    <link th:href="@{/css/book-management.css}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Този скрипт е за включване на SweetAlert2 библиотеката в уеб страницата. SweetAlert2 е JavaScript библиотека за стилно и интерактивно показване на известия (alert-и) в уеб приложения. -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

<body>
<nav>
    <div class="logo">
        Online Book Review
    </div>

    <ul>
        <li><a href="/User_Home">Home - user</span></a></li>
        <li><a class="active" href="/User_Books">Books</a></li>
        <li><a href="/">Logout</a></li>
    </ul>
</nav>

<h2>Choose Book Operation</h2>

<form action="/user_select_operation" method="post" id="form1">
    <button type="submit" name="book_operation" value="Display">Display Book</button>
    <button type="submit" name="book_operation" value="Rate">Rate Book</button>
</form>

<!-- Показване на книги -->
<div th:if="${selectDisplay == 'Display'}">
    <table>
        <tr>
            <th>Book Title</th>
            <th>Author</th>
            <th>Rating</th>
            <th>Price</th>
        </tr>
        <tr th:each="BookArray : ${BookObject}">
            <td th:text="${BookArray.getBook_title()}"></td>
            <td th:text="${BookArray.getAuthor()}"></td>
            <td th:text="${BookArray.getRate()}"></td>
            <td th:text="${BookArray.getPrice()}"></td>
        </tr>
    </table>
</div>

<!-- Оценяване на книга -->
<div th:if="${selectRate == 'Rate'}">
    <h2>Rate By User</h2>

    <form class="form" action="/user_Rate_Book" method="post" id="Form_Rate">
        <label>Choose book by title</label>
        <input type="text" class="form-control" name="book_title" placeholder="Book title">
        <label>User Rating</label>
        <select name="rate">
            <option value="1">1 Star</option>
            <option value="2">2 Star</option>
            <option value="3">3 Star</option>
            <option value="4">4 Star</option>
            <option value="5" selected>5 Star</option>
        </select>
        <button class="button-operation" type="submit">Rate</button>
    </form>
</div>

<!-- в UserController -> /User_Book_Details - ако няма налични книги -->
<div th:if="${PrintSwal == 'Book_Details_Empty'}">
    <script>swal("Sorry, Books Not Available");</script>
</div>

<!-- в UserController -> /user_Rate_Book - ако се update-не успешно -->
<div th:if="${PrintSwal == 'RBook_Update'}">
    <script>swal("Book Rate Updated Successfully");</script>
</div>

<!-- в UserController -> /user_Rate_Book - ако не се намира такава книга -->
<div th:if="${PrintSwal == 'RBook_Not_Found'}">
    <script>swal("Sorry, Book Not Available");</script>
</div>

</body>
</html>
